#root {
    //background: linear-gradient(to top, rgb(133, 0, 0), rgb(211, 0, 211));
    @include flexCenter;
    .wrapper {
        width: 70%;    
        .header {
            @include flexCenter;
            flex-direction: column;
            img {
                height: 200px;
                object-fit: contain;
                margin: 0 auto;
            }
            h1 {
                text-align: center;
            }
        }
    
    }
}

@media screen and (max-width: 1054px) {
    #root {
        .wrapper {
            width: 80%;
        }
    }
   }

@media screen and (max-width: 768px) {
 #root {
     .wrapper {
         width: 90%;
     }
 }
}


@media screen and (max-width: 376px) {
    #root {
        .wrapper {
            width: 100vw;    
            .header {
                @include flexCenter;
                flex-direction: column;
                img {
                    height: 200px;
                    object-fit: contain;
                    margin: 0 auto;
                }
                h1 {
                    text-align: center;
                }
            }
        
        }
    }
}